body {
  font-family: Arial, Helvetica, sans-serif;
  background: radial-gradient(#78d5ff,#0081e8)
}

#songcard {
  background: rgb(241, 232, 232);
  border-radius: 10px;
  text-align: center;
  border: rgb(99, 26, 224) solid 1px;
  padding: 1rem;
  width: 15rem;
  height: 16rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #000000;  
}

#songcard:hover {
  background-color: seashell
}

#albumcover {
  justify-self: center;
  height: 5rem;
  width: auto;
}

.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: 300px;
  margin: 0 auto;
  padding: 1.75rem;
  text-align: center;
}

.form label {
  font-size: 1.2rem;
  padding: 0.5rem;
}

.form button[type="submit"] {
  width: 50%;
  cursor: pointer;
  padding: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
  text-align: center;
  margin: auto;
  font-size: 1.2rem;
}

input {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  border: none;
  font-size: 1.25rem;
  transition: all 0.3s;
  /* border: 2px solid rgb(99, 26, 224); */
}

.navbar {
  padding-top: 0.75rem;
  background-color: aliceblue;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
}

#searchelements {
  padding: 1px;
  margin-left: 5px;
  margin-top: 15px;}

#searchterm {
  border-radius: 5px;
}
  
#songcard section button {
  width: 3rem;
  height: 2.3rem;
  margin: 0.5rem;
}

#songcard section .button {
  width: 3rem;
  height: 2.3rem;
  padding: 0.54rem 1rem;
  border: 1px solid gray;
  background-color: #EFEFEF;
  border-radius: 2px;
  color: gray;
}

h1 {
  text-align: center;
  color:rgb(251, 251, 251);
  padding-top: 2rem;
  font-size: 50px;
}

.about {
  width: 80%;
  font-size: 1.75rem;
  text-align: center;
  margin: auto;
}

  