#songcard {
  background: rgb(241, 232, 232);
  border-radius: 10px;
  text-align: center;
  border: rgb(99, 26, 224) solid 1px;
  padding: 1rem;
  width: 15rem;
  height: 15rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #000000;  
}

#albumcover {
  justify-self: center;
  height: 5rem;
  width: auto;
}

.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: 300px;
  margin: 0 auto;
  border: 2px solid rgb(99, 26, 224);
  padding: 1.75rem;
  text-align: center
}

.form h2 {
  margin-bottom: 1rem;
}

.form button[type="submit"] {
  width: 50%;
  cursor: pointer;
  padding: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
  text-align: center;
  margin: auto;
}

input {
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  border: none;
  font-size: 1.25rem;
  font-weight: bold;
  transition: all 0.3s;
  border: 2px solid rgb(99, 26, 224);
}

body {
  background: radial-gradient(#78d5ff,#0081e8)
}

.navbar {
  padding-top: 0.75rem;
  background-color: aliceblue;
  padding-bottom: 0.5rem
}

#searchelements {
  padding: 1px;
  margin-left: 5px;
  margin-top: 15px;}

  #searchterm {
    border-radius: 5px;
  }
  
#songcard section button {
  width: 3rem;
  height: 2.3rem;
  margin: 0.5rem;
}

#songcard section .button {
  width: 3rem;
  height: 2.3rem;
  margin: 0.5rem;
  border-color: black;
  background-color: white;
}

h1 {
    text-align: center;
    color:rgb(251, 251, 251);
    padding-top: 2rem;
    font-size: 50px;
  }

  